.ListItem {
    width: 150px;
    height: 350px;
    padding: 10px;
    box-shadow: 0px 0px 9px 0px #ccc;

    &__img {
        width: 100%;

        img {
            width: 70%;
            object-fit: cover;
        }
    }
    
    &__title {
        font-size: 16px;  
    }
}
